#(a) Find the size of the data frame. How many rows, how many columns?
#(b) Use the appropriate function to report the data types for all columns.
#(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells
how many unique Events held:)
len(medals['Event'].unique())
#(d) Find how many medals the USA team won in total.
#(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.
#For instance, the following example counts at how many locations each event was held. )
#medals.groupby(by='Event')['Location'].count()

# Download olympcic medals data

In [60]:
#Connect my Google Drive to this Colab notebook so I can read and write files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
#import pandas
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/olympic_medals.csv')

# a. Find the size of the data frame

In [62]:
#Quick check number of rows and column
print(df.shape)

(2394, 8)

In [63]:
#Take a look at the columns name and the first five rows
df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

#b. Check the data type of each columns

In [64]:
# Find the types of columns
# Most of them are strings(objects), only Year column is int.
print(df.dtypes)

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [65]:
# Can check columns type from here too.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2394 entries, 0 to 2393
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       2394 non-null   object
 1   Event        2394 non-null   object
 2   Location     2394 non-null   object
 3   Year         2394 non-null   int64
 4   Medal        2394 non-null   object
 5   Name         2164 non-null   object
 6   Nationality  2394 non-null   object
 7   Result       2351 non-null   object
dtypes: int64(1), object(7)
memory usage: 149.8+ KB

#c. How many countries have hosted the Olympic Games?

In [66]:
# Find the host countries
# answer is 23 countries
total_city_host = df['Location'].unique()

print(f"The total number of cities that have hosted the Olympic Games is {len(total_city_host)} cities\n")
print(f"These are the cities that have hosted the Olympic Games: {total_city_host}")

The total number of cities that have hosted the Olympic Games is 23 cities

These are the cities that have hosted the Olympic Games: ['Rio' 'Beijing' 'Sydney' 'Barcelona' 'Los Angeles' 'Montreal' 'Mexico'
 'Rome' 'Helsinki' 'Berlin' 'Amsterdam' 'Antwerp' 'London' 'Athens'
 'Atlanta' 'Moscow' 'Munich' 'Tokyo' 'Melbourne / Stockholm' 'Paris'
 'Stockholm' 'St Louis' 'Seoul']

#d. How many medals usa receive?

In [67]:
# Find usa medals
# Answer is 638 medals
usa_medals = df[df['Nationality']== "USA"].shape[0]
usa_medals_details = df[df['Nationality']== "USA"]
print(f' USA get toal {usa_medals} medals\n')
print(usa_medals_details)

 USA get toal 638 medals

     Gender             Event   Location  Year Medal             Name  \
37        M        10000M Men     London  2012     S       Galen RUPP
51        M        10000M Men      Tokyo  1964     G      Billy MILLS
67        M        10000M Men  Stockholm  1912     S   Lewis TEWANIMA
70        M          100M Men        Rio  2016     S    Justin GATLIN
74        M          100M Men    Beijing  2008     B       Walter DIX
...     ...               ...        ...   ...   ...              ...
2326      W  Pole Vault Women    Beijing  2008     S    Jennifer SUHR
2328      W  Pole Vault Women     Sydney  2000     G    Stacy DRAGILA
2331      W  Pole Vault Women     London  2012     G    Jennifer SUHR
2337      W    Shot Put Women        Rio  2016     G  Michelle CARTER
2358      W    Shot Put Women       Rome  1960     B    Earlene BROWN

     Nationality    Result
37           USA  27:30.90
51           USA   28:24.4
67           USA   32:06.6
70           USA      9.89
74           USA      9.91
...          ...       ...
2326         USA       4.8
2328         USA       4.6
2331         USA      4.75
2337         USA     20.63
2358         USA     16.42

[638 rows x 8 columns]

In [68]:
#This methods we see compare with other countries too.
print(df['Nationality'].value_counts())

Nationality
USA    638
GBR    161
URS    131
KEN     87
GDR     76
      ...
CHI      1
DJI      1
SYR      1
SRB      1
ISL      1
Name: count, Length: 97, dtype: int64

#e. Find the total number of medals for each ntionality using group by

In [69]:
# Group by Nationality and count their medals
nationality_medal= df.groupby('Nationality')['Medal'].count()

print("Medal totals by Nationality: ", nationality_medal)
print(len(nationality_medal))

Medal totals by Nationality:  Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64
97

In [70]:
# Count of unique countries get the medal
nationality_count = df['Nationality'].nunique()
print(f"There are {nationality_count} unique nationalities.")

There are 97 unique nationalities.

In [71]:
# Check whether any country has no medals.
# Find rows where the Medal column is empty (NaN)
# Get the unique list of those country names
no_medal = df[df['Medal'].isna()]
nationality_no_medals = no_medal['Nationality'].unique()

print(f"Countries with zero medals: {nationality_no_medals}")

Countries with zero medals: []